@model IEnumerable<Aldente.Data.Entities.Platillo>
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="row my-5">
    <div class="col-lg-3">
        <div class="shadow rounded-4">
            <img src="@(ViewBag.Logo != null ? "data:;base64,"+Convert.ToBase64String(ViewBag.Logo) :"/assets/images/burger-2013191_1280.png")" class="img-fluid" />
        </div>
    </div>
    <div class="col-lg-9 flex-column justify-content-center d-flex">
        <p class="ftfoodsecret-regular fw-bold ftsize-65 ms-5">@ViewBag.Nombre</p>
    </div>
</div>

<div id="platillos">
    @foreach (var item in Model)
   {
       <div class="bg-primarylightsam p-3 mb-2 rounded-4 ftfoodlist-regular ftcolor-white text-center"
       style="width: 18rem;" name="categoria_subcategoria_nombre">
           <img src="@(item.Imagen != null ? "data:;base64,"+Convert.ToBase64String(item.Imagen) : "/assets/images/camera-1265913_1280.png")" class="img-fluid p-2 bg-white mb-3 rounded-4" />
           <div class="ftsize-22 fw-bold">@item.Nombre</div>
           <div class="ftsize-22 fw-bold">345 gr.</div>
           <div class="ftsize-35 fw-bold">@item.Precio</div>
           <div class="ftsize-22" align="justify">
               @item.Descripcion
           </div>
           <div class="ftsize-22 fw-bold">Tamaño: Grande</div>
       </div>
   }
</div>